@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Merriweather:300,400,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

html {
    font-family: 'Playfair Display', serif;

    h5 {
        font-size: 2em;
    }

    h1 {
        font-size: 4em;
        font-weight: 690;
        color: #3b3a3a;
        text-shadow: 2px 4px 3px rgba(0,0,0,0.2);
    }

    h2 {
        font-size: 1.75em;
        color: #3b3a3a;
        text-shadow: 2px 4px 3px rgba(0,0,0,0.2);
    }

    h3 {
        font-size: .5em;
    }

    h4 {
        font-size: 1.5em;
    }

    p {
        font-size: 1em;
        font-family: Merriweather;
    }

    a {
        text-decoration: none;
        font-weight: 700;
        color: black;
    }

    a:hover {
        text-decoration: underline;
        color: black;
    }

    button {
        height: 3vh;
        font-size: 1.5em;
        font-family: 'Playfair Display', serif;
        text-align: center;
        margin-bottom: 2vh;
        padding-bottom: 4vh;
        border-radius: 5%;
        width: fit-content;
    }

    button:hover {
        border: 1px solid black;
    }

    button:active {
        border: 2px solid rgb(85, 83, 83);
        background-color: rgb(228, 225, 225);
        color: rgb(85, 83, 83)
    }

};